@font-face {
    font-family: 'SegmentAKey-Bold';
    src: url(../font/SegmentAKeyTrial-Bold.otf);  
}

@font-face {
    font-family: 'Akzidenz';
    src: url(../font/Akzidenz-grotesk-light.ttf);
}

html, body {
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
}


body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
}

.navbar-title {
    color: white;
    font-size: 150px;
    font-weight: bold;
    font-family: 'SegmentAKey-Bold';
    margin: 0;
    padding: 0;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Akzidenz';
}

.navbar-links li {
    margin-left: 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px; 
}

.navbar-links a:hover {
    color: #ddd; 
}

/* Styling the header image */
#header-image {
    width: 90%; 
    height: auto; 
    filter: grayscale(100%); 
    z-index: 1; 
}

/* Container padding for spacing */
.container {
    position: relative;
    z-index: 1;
    padding: 0rem;
    box-sizing: border-box; 
}

/* HOME Section Styling */
.home-section {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: black;
    color: white;
}

.home-container {
    display: flex;
    flex-direction: row;
    width: 80%; 
}

.home-title {
    width: 50%;
    text-align: left;
}

.home-title h2 {
    font-family: 'SegmentAKey-Bold';
    font-size: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
    margin-top: 0;
}

.home-content {
    width: 50%;
    font-family: 'Akzidenz';
}

.home-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* ABOUT Section Styling */
.about-section {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: black;
    color: white;
}

.about-container {
    display: flex;
    flex-direction: row;
    width: 80%; 
}

.about-title {
    width: 100%; 
    text-align: left;
}

.about-title h2 {
    font-family: 'SegmentAKey-Bold';
    font-size: 100px;
    margin-bottom: 30px; 
    margin-left: 75%; 
    text-transform: uppercase; 
    margin-top: 0;
}

.about-content {
    width: 100%; 
    font-family: 'Akzidenz';
}

.about-content p {
    font-size: 18px;
    line-height: 1.6; 
    margin-bottom: 15px; 
    margin-left: 0; 
    margin-top: 40px;
}

/* Show More Button Styling */
#show-more-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-family: 'Akzidenz';
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#show-more-btn:hover {
    background-color: white;
    color: black;
}

/* Albums section styling */
.albums-wrapper a{
    text-decoration: none;
}
.albums-title {
    font-family: 'SegmentAKey-Bold';
    font-size: 100px; 
    text-align: center; 
    margin-bottom: 0; 
    color: white; 
    margin-top: 0;
    margin-bottom: 0;
}


.album-section {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 2rem; 
    background-color: black; 
    color: white; 
    overflow: hidden;
}

.album-container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 90%; 
}

/* Wrapper for album images */
.albums-wrapper {
    display: flex;
    gap: 20px; 
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 1rem; 
    max-width: 100%; 
    height: auto; 
    overflow: hidden;
}

.album-content {
    width: 200px; 
    text-align: center; 
}

.album-content img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.album-content h3 {
    color: white; 
    font-family: 'Akzidenz'; 
    font-size: 20px; 
    margin: 10px 0 0 0; 
}

.album-content img:hover {
    filter: none; 
}

/*Footer section*/
.footer {
    background-color: #1a1a1a; 
    color: white; 
    padding: 2rem 0; 
    text-align: center; 
    margin-top: 100px;
}

.footer-content {
    display: flex; 
    justify-content: space-around; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 2rem; 
}

.footer-section {
    flex: 1; 
    margin: 1rem; 
}

.footer-section h4 {
    font-family: 'SegmentAKey-Bold'; 
    margin-bottom: 1rem; 
}

.footer-links, .social-links {
    list-style-type: none; 
    padding: 0;
}

.footer-links li, .social-links li {
    margin: 0.5rem 0; 
}

.footer-links a, .social-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover, .social-links a:hover {
    text-decoration: underline; 
}

.footer-bottom {
    background-color: #0d0d0d;
    padding: 1rem 0; 
}

.footer-bottom p {
    margin: 0; 
}

h4{
    font-size: 4dvh;
}

/* Scroll buttons */
#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

#scrollTopBtn:hover {
    background-color: gray;
}


.scroll-button{
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.scroll-button:hover{
    background-color: rgba(225, 225, 225, 0.7);
    color: black;
}

